﻿.ax_default {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.shape {
}
.box_2 {
}
.box_3 {
}
.image {
}
.placeholder {
}
.heading_1 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.horizontal_line {
}
.vertical_line {
}
.image1 {
  color:#000000;
}
.shape1 {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
.vertical_line1 {
}
.primary_button {
  color:#FFFFFF;
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.box_1 {
}
.droplist {
  color:#000000;
  text-align:left;
}
.ellipse {
}
.label {
  font-size:14px;
  text-align:left;
}
.button {
}
.checkbox {
  text-align:left;
}
.table_cell {
}
.text_area {
  color:#000000;
  text-align:left;
}
.icon {
}
