<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Create Profile</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="./CreateProfile_files/jquery-ui-themes.css" type="text/css" rel="stylesheet">
    <link href="./CreateProfile_files/axure_rp_page.css" type="text/css" rel="stylesheet">
    <link href="./CreateProfile_files/styles.css" type="text/css" rel="stylesheet">
    <link href="./CreateProfile_files/styles(1).css" type="text/css" rel="stylesheet">

  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u256" class="ax_default box_3">
        <div id="u256_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u257" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u258" class="ax_default heading_3">
        <div id="u258_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u259" class="text">
          <p><span>Hi, {{ username }}</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u260" class="ax_default heading_3">
        <div id="u260_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u261" class="text">
          <p><span>Your account has been successfully created with email address "{{ email }}"</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u262" class="ax_default heading_3">
        <div id="u262_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u263" class="text">
          <p><span>Let's Build up your Profile</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u264" class="ax_default text_field">
        <input id="u264_input" type="text" value="">
      </div>

      <!-- Unnamed (Image) -->
      <div id="u265" class="ax_default image">
        <img id="u265_img" class="img " src="./CreateProfile_files/u265.png">
        <!-- Unnamed () -->
        <div id="u266" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u267" class="ax_default text_field">
        <input id="u267_input" type="text" value="">
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u268" class="ax_default text_field">
        <input id="u268_input" type="text" value="">
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u269" class="ax_default text_field">
        <input id="u269_input" type="text" value="">
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u270" class="ax_default text_field">
        <input id="u270_input" type="text" value="">
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u271" class="ax_default button">
        <div id="u271_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u272" class="text">
          <p><span>Upload</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u273" class="ax_default primary_button" style="cursor: pointer;">
        <div id="u273_div" class="" tabindex="0"></div>
        <!-- Unnamed () -->
        <div id="u274" class="text" style="top: 6px; transform-origin: 243px 10px 0px;">
          <p><span>Create</span></p>
        </div>
      </div>

      <!-- Unnamed (Header Logged in) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u276" class="ax_default box_2">
        <div id="u276_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u277" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- ddp (Dynamic Panel) -->
      <div id="u278" class="ax_default ax_default_hidden" data-label="ddp" style="display:none; visibility: hidden">
        <div id="u278_state0" class="panel_state" data-label="State1">
          <div id="u278_state0_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u279" class="ax_default primary_button" style="cursor: pointer;">
              <div id="u279_div" class="" tabindex="0"></div>
              <!-- Unnamed () -->
              <div id="u280" class="text">
                <p><span>Logout</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u281" class="ax_default primary_button" style="cursor: pointer;">
              <div id="u281_div" class="" tabindex="0"></div>
              <!-- Unnamed () -->
              <div id="u282" class="text">
                <p><span>My Account</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u283" class="ax_default image" style="cursor: pointer;">
        <img id="u283_img" class="img " src="./CreateProfile_files/u283.png" tabindex="0">
        <!-- Unnamed () -->
        <div id="u284" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u285" class="ax_default image">
        <img id="u285_img" class="img " src="./CreateProfile_files/u285.png">
        <!-- Unnamed () -->
        <div id="u286" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u287" class="ax_default label">
        <div id="u287_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u288" class="text">
          <p><span>Hi, Christina</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u289" class="ax_default icon">
        <img id="u289_img" class="img " src="./CreateProfile_files/u289.png">
        <!-- Unnamed () -->
        <div id="u290" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Hot Spot) -->
      <div id="u291" class="ax_default" tabindex="0" style="cursor: pointer;">
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u292" class="ax_default text_field">
        <input id="u292_input" type="text" value="">
      </div>

      <!-- Unnamed (Text Area) -->
      <div id="u293" class="ax_default text_area">
        <textarea id="u293_input"></textarea>
      </div>

      <!-- Unnamed (Footer) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u295" class="ax_default box_3">
        <div id="u295_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u296" class="text">
          <p><span>Copyright © PetComm 2016</span></p><p><span>Terms&nbsp; &nbsp;&nbsp; Privacy&nbsp; &nbsp; Contact</span></p>
        </div>
      </div>
    </div>
  

</body></html>