<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Create Profile</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="../static/CreateProfile_files/jquery-ui-themes.css" type="text/css" rel="stylesheet">
    <link href="../static/CreateProfile_files/axure_rp_page.css" type="text/css" rel="stylesheet">
    <link href="../static/CreateProfile_files/styles.css" type="text/css" rel="stylesheet">
    <link href="../static/CreateProfile_files/styles(1).css" type="text/css" rel="stylesheet">
	<link href="../static/css/mystyles.css" type="text/css" rel="stylesheet">

  </head>
  <body>
  {% if flashmessage is not None %}<div class="msg"><p>{{ flashmessage }}</p></div>{% endif %}	  
    <div id="base" class="">
	  <!-- Unnamed (Rectangle) -->
      <div id="u276" class="ax_default box_2">
        <div id="u276_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u277" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>
	<!-- Unnamed (Rectangle) -->
      <div id="u256" class="ax_default box_3">
        <div id="u256_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u257" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>
	  
	<!-- Unnamed (Rectangle) -->
      <div id="u287" class="ax_default label">
        <div id="u287_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u288" class="text">
          <p><span>Hi, {{ userfields.firstname }}</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u289" class="ax_default icon">
        <img id="u289_img" class="img " src="../static/CreateProfile_files/u289.png">
        <!-- Unnamed () -->
        <div id="u290" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- ddp (Dynamic Panel) -->
      <div id="u278" class="ax_default ax_default_hidden" data-label="ddp" style="display:none; visibility: hidden">
        <div id="u278_state0" class="panel_state" data-label="State1">
          <div id="u278_state0_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u279" class="ax_default primary_button" style="cursor: pointer;">
              <div id="u279_div" class="" tabindex="0"></div>
              <!-- Unnamed () -->
              <div id="u280" class="text">
                <p><span>Logout</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u281" class="ax_default primary_button" style="cursor: pointer;">
              <div id="u281_div" class="" tabindex="0"></div>
              <!-- Unnamed () -->
              <div id="u282" class="text">
                <p><span>My Account</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

{% if profilefields is None %}
      <!-- hi intro -->
      <div id="u258" class="ax_default heading_3">
        <div id="u258_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u259" class="text">
          <p><span>Hi, {{ userfields.firstname }}</span></p>
        </div>
      </div>
	  
	  <!-- your account created intro -->
      <div id="u260" class="ax_default heading_3">
        <div id="u260_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u261" class="text">
          <p><span>Your account has been successfully created with email address "{{ userfields.email }}"</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u262" class="ax_default heading_3">
        <div id="u262_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u263" class="text">
          <p><span>Let's Build up your Profile</span></p>
        </div>
      </div>
{% else %}
      <div id="u262" class="ax_default heading_3">
        <div id="u262_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u263" class="text">
          <p><span>Your Profile</span></p>
        </div>
      </div>
	  
{% endif %}	
 
<!-- image upload -->
<div>
      <!-- image upload image -->
      <div id="u265" class="ax_default image">
        <img id="u265_img" class="img " src="../static/CreateProfile_files/u265.png">
        <div id="u266" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- image upload button -->
      <div id="u271" class="ax_default button">
        <div id="u271_div" class=""></div>
        <div id="u272" class="text">
          <p><span>Upload</span></p>
        </div>
      </div>
</div>

<!-- company fieldset -->
<form method="post">

<div>	  
{% csrf_token %}
	  <!-- Business name (Text Field) -->
      <div id="u292" class="ax_default text_field">
        <input id="u292_input" name="businessname" type="text" value="{{ profilefields.businessname }}" placeholder="Business name">
      </div>
	  
	  <!-- Home location (Text Field) -->
      <div id="u264" class="ax_default text_field">
        <input id="u264_input" name="homelocation" type="text" value="{{ profilefields.homelocation }}" placeholder="Home location">
      </div>

      <!-- City (Text Field) -->
      <div id="u267" class="ax_default text_field">
        <input id="u267_input" name="city" type="text" value="{{ profilefields.city }}" placeholder="City">
      </div>

      <!-- State / Province (Text Field) -->
      <div id="u269" class="ax_default text_field">
        <input id="u269_input" name="province" type="text" value="{{ profilefields.province }}" placeholder="Province / state">
      </div>

      <!-- Country (Text Field) -->
      <div id="u268" class="ax_default text_field">
        <input id="u268_input" name="country" type="text" value="{{ profilefields.country }}" placeholder="Country">
      </div>

      <!-- Postal code / Zip (Text Field) -->
      <div id="u270" class="ax_default text_field">
        <input id="u270_input" name="postalcode" type="text" value="{{ profilefields.postalcode }}" placeholder="Postal code / zip">
      </div>

	  
      
      <!-- Short Description (Text Area) -->
      <div id="u293" class="ax_default text_area">
        <textarea id="u293_input" name="shortdescription" placeholder="Short description">{{ profilefields.shortdescription }}</textarea>
      </div>
	  
      
        <div>
		{% if profilefields is None %}
			<input type="submit" value="Create" class="updateprofilebuttons"/>
		{% else %}
			<input type="submit" value="Update" class="updateprofilebuttons"/>
		{% endif %}
        </div>
      
	  
	  </form>


      <!-- Unnamed (Rectangle) -->


      <!-- Unnamed (Header Logged in) -->

      
      <!-- Unnamed (Image) -->
      <div id="u283" class="ax_default image" style="cursor: pointer;">
        <img id="u283_img" class="img " src="../static/CreateProfile_files/u283.png" tabindex="0">
        <!-- Unnamed () -->
        <div id="u284" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u285" class="ax_default image">
        <img id="u285_img" class="img " src="../static/CreateProfile_files/u285.png">
        <!-- Unnamed () -->
        <div id="u286" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      
      
      <!-- Unnamed (Footer) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u295" class="ax_default box_3">
        <div id="u295_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u296" class="text">
          <p><span>Copyright © PetComm 2016</span></p><p><span>Terms&nbsp; &nbsp;&nbsp; Privacy&nbsp; &nbsp; Contact</span></p>
        </div>
      </div>
    </div>
  

</body></html>