<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Pets</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="./pets_files/jquery-ui-themes.css" type="text/css" rel="stylesheet">
    <link href="./pets_files/axure_rp_page.css" type="text/css" rel="stylesheet">
    <link href="./pets_files/styles.css" type="text/css" rel="stylesheet">
    <link href="./pets_files/styles(1).css" type="text/css" rel="stylesheet">
   
  </head>
  <body>
    <div id="base" class="">
<p>Hi {{ username }}.  Here are your pets</p>
  {% for p in pets %}
    <p>
        {{ p.petname }}
    </p>
{% endfor %}

      <!-- Unnamed (Rectangle) -->
      <div id="u295" class="ax_default box_3">
        <div id="u295_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u296" class="text">
          <p><span>Copyright © PetComm 2016</span></p><p><span>Terms&nbsp; &nbsp;&nbsp; Privacy&nbsp; &nbsp; Contact</span></p>
        </div>
      </div>
    </div>
  

</body></html>